<div style="text-align:center">
    <h2>Home Component</h2>
    <div>
        <button type="button" (click)="onClick()" class="btn btn-primary">
        Create User
        </button>
    </div>
    <button type="button" data-value="user1" 
        (click)="onClick2($event)" class="btn btn-primary">
        Update User1
    </button>
    <button type="button" data-value="user2" 
        (click)="onClick2($event)" class="btn btn-primary">
        Update User2
    </button>
    <button type="button" data-value="user3" 
        (click)="onClick2($event)" class="btn btn-primary">
        Update User3
    </button>
    <button type="button" data-value="user4" 
        (click)="onClick2($event)" class="btn btn-primary">
        Update User4
    </button>
</div>